/* You can add global styles to this file, and also import other style files */

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

}
button{
    padding: 35px 10 px;
    background-color: blue;
    margin-right: 5px;
    color: white;
    font-weight: 500;
    border: none;
    width: 100px;
}
button:disabled {
    background-color: gray;
    opacity: 0.8;
    color: white;
    cursor: not-allowed;
}
.block{
    width: 320px;
    background:linear-gradient( 270deg, blue, red);
    height: 350px;
    display: flex;

}