<!--About Us Section-->
<div class="about-us">
    <div class="about-us-text">
      <h3>About Us</h3>
      <p>I started painting as a hobby when I was little. I didn't know I had any talent. I believe talent is just a pursued interest. Anybody can do what I do. Just go back and put one little more happy tree in there. Everybody's different. Trees are different. Let them all be individuals. We'll put some happy little leaves here and there. These things happen automatically. All you have to do is just let them happen. Everyone wants to enjoy the good parts - but you have to build the framework first. Let's do that again.</p>
    </div>
    <img src="../../../assets/images/about-us.png" alt="mechanic">
  </div>

<!--Our Team Section-->
<div class="our-team">
    <h3>Our Team</h3>
    <div class="team-container">
      <div class="team-item">
        <img src="../../../assets/images/staff.png" alt="staff">
        <div class="team-item-text">
          <h4>St.patricks</h4>
          <h5>10 Years Experience</h5>
          <hr>
          <p>Expert in European Engines and Transmission<br>Certified by landrover</p>
        </div>
      </div>
      <div class="team-item">
        <img src="../../../assets/images/staff.png" alt="staff">
        <div class="team-item-text">
          <h4>Damian</h4>
          <h5>10 Years Experience</h5>
          <hr>
          <p>Expert in European Engines and Transmission<br>Certified by Mercedes Benz</p>
        </div>
      </div>
      <div class="team-item">
        <img src="../../../assets/images/staff.png" alt="staff">
        <div class="team-item-text">
          <h4>Lee Tee</h4>
          <h5>15 Years Experience</h5>
          <hr>
          <p>Expert in European Engines and Transmission<br>Certified by Ford Motors</p>
        </div>
      </div>
      <div class="team-item">
        <img src="../../../assets/images/staff.png" alt="staff">
        <div class="team-item-text">
          <h4>John Doe</h4>
          <h5>10 Years Experience</h5>
          <hr>
          <p>Expert in European Engines and Transmission<br>Certified by Volkswagen Group</p>
        </div>
      </div>
      <div class="team-item">
        <img src="../../../assets/images/Rectangle 6.png" alt="staff">
        <div class="team-item-text">
          <h4>Delani Matt</h4>
          <h5>10 Years Experience</h5>
          <hr>
          <p>Expert in European Engines and Transmission<br>Certified by Rolls Royce</p>
        </div>
      </div>
      <div class="team-item">
        <img src="../../../assets/images/Rectangle 11 (1).png" alt="staff">
        <div class="team-item-text">
          <h4>Petterson Jesse</h4>
          <h5>10 Years Experience</h5>
          <hr>
          <p>Expert in European Engines and Transmission<br>Certified by Dodge</p>
        </div>
      </div>
    </div>
  </div>
