<div class="section">
    <!-- <div id="engine-image"></div> -->
    <div class="sect-wrd">
        <h1>Get over 500 car repair services at your<br> home or office</h1>
    </div>
    <div class="sect">
        <div class="Eng-check">
            <div id="im-eng">
                <img src="../../../assets/images/4422629.png" alt="#" height="100px" width="100px">
                <h3>Car Doesnt Start</h3>
            </div>
            <div class="pb">
                <p>Our certified mobile<br> mechanics come to you 7 days<br> a week between 7 AM<br>and 11.30PM</p>
                <form action="mailto:webmaster@example.com">
                    <a href=""><button id="btn-estimate">ORDER SERVICE</button></a>
                </form>
            </div>
        </div>
        <div class="Eng-check">
            <div id="im-eng">
                <img src="../../../assets/images/4632985.png" alt="#" height="100px" width="100px">
                <h3>Brake/Tire Replacement</h3>
            </div>
            <div class="pb">
                <p>Our certified mobile<br> mechanics come to you 7 days<br> a week between 7 AM<br>and 11.30PM</p>
                <form action="mailto:webmaster@example.com">
                    <a href=""><button id="btn-estimate">ORDER SERVICE</button></a>
                </form>
            </div>
        </div>
        <div class="Eng-check">
            <div id="im-eng">
                <img src="../../../assets/images/5686838.png" alt="#" height="100px" width="100px">
                <h3>Engine-oil/Filter</h3>
            </div>
            <div class="pb">
                <p>Our certified mobile<br> mechanics come to you 7 days<br> a week between 7 AM<br>and 11.30PM</p>
                <form action="mailto:webmaster@example.com">
                    <a href=""><button id="btn-estimate">ORDER SERVICE</button></a>
                </form>
            </div>
        </div>
        <div class="Eng-check">
            <div id="im-eng">
                <img src="../../../assets/images/3503646.png" alt="#" height="100px" width="100px">
                <h3>Axle/Cv sharft check</h3>
            </div>
            <div class="pb">
                <p>Our certified mobile<br> mechanics come to you 7 days<br> a week between 7 AM<br>and 11.30PM</p>
                <form action="mailto:webmaster@example.com">
                    <a href=""><button id="btn-estimate">ORDER SERVICE</button></a>
                </form>
            </div>
        </div>
        <div class="Eng-check">
            <div id="im-eng">
                <img src="../../../assets/images/5670421.png" alt="#" height="100px" width="100px">
                <h3>Transmission isues</h3>
            </div>
            <div class="pb">
                <p>Our certified mobile<br> mechanics come to you 7 days<br> a week between 7 AM<br>and 11.30PM</p>
                <form action="mailto:webmaster@example.com">
                    <a href=""><button id="btn-estimate">ORDER SERVICE</button></a>
                </form>
            </div>
        </div>
        <div class="Eng-check">
            <div id="im-eng">
                <img src="../../../assets/images/5757907.png" alt="#" height="100px" width="100px">
                <h3>Engine check</h3>
            </div>
            <div class="pb">
                <p>Our certified mobile<br> mechanics come to you 7 days<br> a week between 7 AM<br>and 11.30PM</p>
                <form action="mailto:webmaster@example.com">
                    <a href=""><button id="btn-estimate">ORDER SERVICE</button></a>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- popup content
<div id="estimate" class="modal fade" role="">
    <div class="modal-dialog">
        <div id="mdl" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">GET AN ESTIMATE</h3>
            </div>
            <div class="modal-body">
                <div class="form">
                    <form name="priceestimate" action="" onsubmit="return serviceprice()" >
                        <label for=""><span>Select Service Below</span></label> <br>
                        <select name="services" id="services">
                            <option value="brake">Brake-pad & Tire replacement</option>
                            <option value="filter">Engine oil/filter</option>
                            <option value="shaft">Axle/Cv Shaft check</option>
                            <option value="transmition">Transmission issues</option>
                            <option value="engine">Engine Check</option>
                        </select> <br>
                        <input class="mnubtn" type="submit" name="submit" value="Get Estimate">
                        <p id="p1"></p>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="mnubtn" type="button" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>

</div> -->
